In [3]:
print("Hello World")

Hello World

In [4]:
print("""*_*
*_* *_*""")

*_*
*_* *_*

In [16]:
print("python\'s world")

python's world

In [15]:
print("I like \'python\' ")

I like 'python'

In [1]:
name="Charan"
mark=98.41
age=21
print("I am ",name,"and my mark is",mark,"and my age",age)

I am  Charan and my mark is 98.41 and my age 21

In [2]:
print(f"I am {name} and my mark {mark} and age {age}");

I am Charan and my mark 98.41 and age 21

In [3]:
print("I am %s mark %10.2f and age is %d" %(name,mark,age));

I am Charan mark      98.41 and age is 21

In [1]:
a=10
id(a)

140732661015216

In [8]:
a=6
b=2
c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

8
4
3.0
0
3
36

In [9]:
a=240
b=1
c=a&b
d=a^b
e=a|b
f=a<<b
g=a>>b
print(c)
print(d)
print(e)
print(f)
print(g)

0
241
241
480
120

In [10]:
10>9 and 15>10

True

In [11]:
str1="pythonprogramming"
"x" in str1

False

In [12]:
"m" in str1

True

In [13]:
10>8>9

False

In [14]:
4**-1

0.25